{% extends "bootstrap/base.html" %}

{% block title %}
User Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static', filename='css/form_slideshow.css')}}" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="F:/Capstone2/static/css/dashboard.css">
<link rel="stylesheet" href="F:\\Capstone2\\static\\css\\form_slideshow.css"> -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}


{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top" id="navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{name}}'s Workspace-1</a>
        </div> <!--navbar-header div ends-->
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            

            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div><!--navbar-collapse div ends-->
      </div><!--container fluid 1 div ends-->
    </nav>
    
<!--nav tag ends-->
    {% block c1 %}
        {% include form_template %}
    {% endblock c1%}
<script src="{{url_for('static', filename='js/form_slideshow.js')}}"></script>
{% endblock %}
